@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KATBIN Neterprises (Pta) Ltd</h1>
    <p>Find more <a href="https://katbin.com/#home">building Web apps with in any language and host in any cloud or traditional host</a>.</p>
</div>
